body{
    margin: 0;
    padding: 0;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.login{
    max-width: 402px;
    margin:10% auto;
    background: white;
    border-radius: 10px;
}
.login h3{
    text-align: center;
    padding: 25px 10px;
    background-color: white;
    color: rgba(0,0,0,.7);
    font-size: 22px;
    font-family: 'Permanent Marker', cursive;

}
.user-accounts-form--border {
    border: 1px solid #e0e0e0;
    border-radius: 3px!important;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1)!important;
}
.user-accounts-form__header {
    position: relative;
    display: block;
    margin-bottom: 7px;
    text-align: center;
}
.user-accounts-form__text {
    font-size: 15px;
    text-align: center;
}
.user-accounts-form {
    position: relative;
    display: inline;
    height: 100%;
    width: 400px;
    margin: 0 0 0 1px;
    padding: 8px -1px 36px;
    box-sizing: border-box;

}
.user-accounts-form--register {
    top: 1px!important;

}
.fw-semibold {
    font-weight: 600;
}
.user-accounts-help {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.unf-user-checkbox__control--checked {
    border: 0!important;
    background-image: linear-gradient(to top,#77db80,#42b549)!important;
}
.unf-user-checkbox__control {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    box-sizing: border-box;
}
.unf-user-checkbox {
    display: -webkit-box; 
    align-items: center;
}
.unf-user-link {
    color: #a552c4;;
    font-size: 12px;
}
a {
    color: #42b549;
    text-decoration: none;
    cursor: pointer;
}
a {
    color: #aa21e0;
    text-decoration: none;
    cursor: pointer;
}
label {
    display: inherit;
    margin-bottom: -18px;
}

label, input, button, select, textarea {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

* {
    -webkit-font-smoothing: antialiased;
}

label {
    cursor: default;
}

img {
    width:  25%;
    vertical-align: middle;
    border-style: none;
}


form{
    padding: 0;
    margin: auto;
    padding: 25px;
}
.inputform{
    width: 92%;
    padding: 1em;
    margin-top: 1.2em;
    color: #888;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: none;
}
.submitform{
    width: 100%;
    padding: 1.4em;
    margin: 1.5em 0;
    color: #888;
    background-color:#DAA520 ;
    border:none;
    color:#eee;
    border-bottom: 4px solid transparent;
    font-size: 12px;
    border-radius: 3px;

}
.submitform:hover{
    opacity: 0.8;
    border-color: #00adb1;
}
form p{
    text-align: center;
    color: #888;
    width: 50%;
    margin: 10px auto 0;
    background: white;
    position: relative;
    bottom: 20px;
}
.border-p{
    border-top: 1px solid #888;
    margin: 10px 10px;
}
button{
    background-color: #895aea;
    width: 100%;
    padding: 1.4em;
    margin-bottom: 1em;
    color: #888; ;
    border:none;
    color:#eee;
    border-bottom: 4px solid transparent;
    border-radius: 5px;
}
button:hover{
    opacity: 0.9;
    border-color: #3b3998;
}*/